<%- include("header")-%> 

<h2>ABOUT ME</h2>
<p>My name is manish and this is one of my backend-project which is all about 
    scheduling your day to day tasks for staying productive. 
</p>

<%- include("footer")-%> 